@import 'variables.scss';

* {
  box-sizing: border-box;
}

html {
  background-color: $body-color;
  font-family: Montserrat;
  color: $text-color;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.price-card {
  width: 380px;
  background-color: $background-section-color;
  text-align: center;
  margin-left: 18px;
  position: relative;
  overflow: hidden;

  &__mark {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    width: 147px;
    top: 25px;
    left: 265px;
    background-color: #dc3f45;
    transform: rotate(45deg);
    text-transform: uppercase;
  }

  &__title {
    display: flex;
    flex-direction: column;
    line-height: 42px;
    font-weight: 700;
    font-size: 35px;
    margin: 0;
    margin-top: 33px;
  }

  &__website {
    font-weight: 300;
    margin-bottom: 33px;
    font-size: 20px;
  }

  &__price {
    font-size: 55px;
    line-height: 105px;
    font-weight: 700;
    background-color: $basic-price-color;

    &_business {
      background-color: $business-price-color;
    }

    &_webshop {
      background-color: $webshop-price-color;
    }
  }

  &__description {
    width: 327px;
    margin: 40px 26px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
  }

  &__options-list {
    padding: 0;
    list-style-type: none;
    text-align: left;
    line-height: 50px;
    margin-bottom: 39px;
    font-weight: 300;

    &_list-item {
      position: relative;
      padding-left: 22px;
    }

    &_list-item-dark {
      position: relative;
      padding-left: 22px;
      background-color: $list-item-dark;
    }
  }

  &__order-btn {
    width: 154px;
    line-height: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
    color: $text-color;
    background-color: $basic-price-color;
    border: none;

    &_business {
      background-color: $business-price-color;
    }

    &_webshop {
      background-color: $webshop-price-color;
    }
  }
}

img {
  line-height: 50px;
  margin-right: 22px;
}
