@import 'variables.scss';

* {
  box-sizing: border-box;
}

html {
  background-color: $body-color;
  font-family: Montserrat;
  color: $text-color;
}

body {
  display: flex;
  justify-content: center;
  margin: 115px 132px;
}

.price-card {
  width: 380px;
  height: 770px;
  background-color: $background-section-color;
  text-align: center;

  &__title {
    line-height: 42px;
    font-weight: 700;
    font-size: 35px;
    margin-top: 33px;
    margin-bottom: 0;
  }

  &__title-website {
    margin-top: 0;
    margin-bottom: 33px;
    font-size: 25px;
    line-height: 30px;
  }

  &__price {
    font-size: 55px;
    line-height: 105px;
    font-weight: 700;
    background-color: $basic-price-color;
  }

  &__price-business {
    font-size: 55px;
    line-height: 105px;
    font-weight: 700;
    background-color: $business-price-color;
  }

  &__price-webshop {
    font-size: 55px;
    line-height: 105px;
    font-weight: 700;
    background-color: $webshop-price-color;
  }

  &__description {
    width: 327px;
    margin: 40px 26px;
    font-size: 15px;
    line-height: 18px;
  }

  &__options-list {
    list-style-type: none;
    text-align: left;
    line-height: 50px;
    margin-bottom: 39px;
  }

  &__order-btn {
    width: 154px;
    line-height: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
    color: $text-color;
    background-color: $basic-price-color;
    border: none;
  }
}

.price-card-business {
  width: 380px;
  height: 770px;
  background-color: $background-section-color;
  text-align: center;
  margin-left: 18px;
  position: relative;

  &__mark {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    width: 147px;
    top: 25px;
    left: 265px;
    background-color: #dc3f45;
    transform: rotate(45deg);
  }
}

.price-card-webshop {
  width: 380px;
  height: 770px;
  background-color: $background-section-color;
  text-align: center;
  margin-left: 18px;
}

.list-item-dark {
  background-color: $list-item-dark;
}

.order-btn-business {
  width: 154px;
  line-height: 40px;
  border-radius: 20px;
  margin-bottom: 40px;
  color: $text-color;
  background-color: $business-price-color;
  border: none;
}

.order-btn-webshop {
  width: 154px;
  line-height: 40px;
  border-radius: 20px;
  margin-bottom: 40px;
  color: $text-color;
  background-color: $webshop-price-color;
  border: none;
}

li {
  position: relative;
  padding-left: 22px;
}

img {
  line-height: 50px;
}