$body-color: #141B1C;
$background-section-color: #334247;
$shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
$list-item-dark: #2A3438;
$basic-price-color: #5BB189;
$business-price-color: #3A6BA5;
$webshop-price-color: #EC632A;
$text-color: #ffffff;