$body-color: #141B1C;
$background-section-color: #334247;
$shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
$subsection-row-color: #2A3438;
$basic-color: #5BB189;
$business-color: #3A6BA5;
$webshop-color: #EC632A;
$text-color: #ffffff;